#header {
  background-color : red;
  padding: 2em;
  margin: 10%;
}
#body {
  background-color : blue;
  padding: 10%;
  margin: 10%;
}

#leftbar {
  float: left;
  padding: 2em;
  margin: 10%;
  background-color: grey;
}

#footer {
  background-color : green;
  padding: 10em;
  margin: 10%;
}
