body {
  background-color: yellow;
}

fieldset {
  width: auto;
  display: inline-block;
}

img {
  max-width: 100%;
}

#header {
  background-color : red;
  padding: 10px;
}

#header > h1 {
  font-size: 12px;
  padding-left: 25%;
  padding-right: 25%;
}

#body {
  background-color : blue;
  padding: 5%;
  display: inline-block;
}

#leftbar {
  padding: 10px;
  background-color: grey;
  display: inline-block;
/*  position: fixed; */
}

#footer {
  background-color : green;
  padding: 10px;
}
