body {
  background-color: yellow;
}
img {
width : 200%;
}

#header {
  background-color : red;
  padding: 10px;
  position : fixed;
  top : 0px;
  left : 0px;
  width : 100%;
}

#header > h1 {
  font-size: 12px;
  padding-left: 25%;
  padding-right: 25%;
}

#body {
  margin-left : 200px;
  background-color : blue;
  padding: 5%;
}

/*
#container {
  display: inline-block;
}
*/
#container {
  display : block;
}
#container:after {
  clear : both;
}
/*
.stuff {
  float : left;
}
*/
#leftbar {
  height : 100%;
  width : 200px;
  position : fixed;
  z-index : 1;
  top : 50px;
  left : 10px;
  background-color: grey;
  overflow-x : hidden;
  padding-top: 20px;
}

/*
#leftbar {
  padding: 10px;
  background-color: grey;
  display : inline-block;
}
*/
#footer {
  background-color : green;
  padding: 10px;
  z-index : 0;
}
